/*=== Normalize and reset ===*/
:root {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

/*=== Normalize and reset end ===*/

:root {
    --color-page-background: #e6e7ea;
    --color-card-background: white;
    --color-text: #6e788c;
    --color-accent: #5294e2;
    --color-visited-link: #d17ad1;

    --layout-spacing: max(1rem, 1.5vw);

    --font-n: clamp(1rem, 0.93rem + 0.348vw, 1.2rem);
    --font-l: calc(var(--font-n) * 1.5);
    --font-xl: calc(var(--font-n) * 2);
}

.page-solutions {
    min-height: 100vh;

    background-color: var(--color-page-background);
    color: var(--color-text);

    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    text-align: center;
}

.header {
    margin: 1em 0;
    font-size: var(--font-xl);
    text-wrap: balance;
    line-height: 2.38ex;
}

.heading {
    margin: 0.5em 0;
    font-size: var(--font-l);
    text-wrap: balance;
    line-height: 2.38ex;
}

.solutions-container {
    margin: 0 auto;
    padding: 0 var(--layout-spacing) var(--layout-spacing);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40ch, 1fr));
    gap: var(--layout-spacing);

    list-style-type: none;
}

.solution {
    padding: calc(var(--layout-spacing) * 0.6);
    border: solid 1px black;

    background-color: var(--color-card-background);
    border-radius: calc(var(--layout-spacing) * 0.6);
    box-shadow: 0 0 var(--layout-spacing) rgba(0, 0, 0, 0.2);

    &:hover {
        box-shadow: 0 0 var(--layout-spacing) var(--color-accent);
    }
}

.solution__live-link,
.solution__github-link {
    text-decoration: none;

    &:link {
        color: var(--color-text);
    }

    &:visited {
        color: var(--color-visited-link);
    }
}

.solution__image {
    display: block;
    object-fit: cover;
    width: 100%;
    max-height: 40vh;
    border-radius: 0.25rem;
}

.solution__title {
    margin: calc(var(--layout-spacing) * 0.4) 0;
    text-wrap: balance;
    font-size: var(--font-n);
    line-height: 2.63ex;
}

.solution__github-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-n);
}

.solution__github-logo {
    height: 1em;
    width: auto;
    margin-left: 0.3em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-page-background: #353945;
        --color-card-background: #404552;
        --color-text: #d3dae3;
    }
}
